<h1> Hey user, There is a certain update in your credentials in the blog application. </h1>
<p> If its not you, then certainly inform us so that we can take some action regarding this. </p>
<p> But if its you, then you can ignore this </p>
<ul>
    <li>First Name: <%= @user.first_name %></li>
    <li>Last Name: <%= @user.last_name %></li>
  </ul>
  <p>Thank you!</p>