<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1> HEY REDDY! Welcome to Reddoorz </h1>
<h2> This was our Holi celebration and it was really a great experience with all the colleagues and also we enjoyed a lot. </h2>
<p> Here is an image attached regarding that celebration. You can easily see the enjoyment. </p>

<%= image_tag attachments['Celebration.jpg'].url, alt: 'Image' if attachments['Celebration.jpg'].present? %>

</body>
</html>
